<div class="container dashboard-container">
  <div class="row">

    <div class="col-md-12">
      <div class="header">
        <app-image-upload-modal [(images)]="images"></app-image-upload-modal>
        <h1><span *ngIf="user">{{user.name}}'s</span> Photos</h1>
      </div>
      <div>
        <ng-masonry-grid
          [masonryOptions]="{ transitionDuration: '0.8s', gutter: 15 }"
          [useAnimation]="true"
          [useImagesLoaded]="true"
          [scrollAnimationOptions]="{ animationEffect: 'none' }">
          <!-- Masonry Grid Item -->
          <ng-masonry-grid-item id="{{image._id}}" *ngFor="let image of images">
            <!-- Grid Content  -->
            <div class="grid-image">
              <app-image [data]="image" [(images)]="images"></app-image>
            </div>
          </ng-masonry-grid-item>
        </ng-masonry-grid>
      </div>

    </div>

  </div>
</div>
