@import '~ng-masonry-grid/ng-masonry-grid.css';

.dashboard-container {
  padding-top: 90px;
  app-image-upload-modal {
    float: right;
  }
}

ng-masonry-grid-item {
  width: calc(33.33% - 10px) !important;
}

.grid-image {
  width: 100%;
  height: auto;
  display: block;
  position: relative;

  app-image {
    max-width: 100%;
  }
}
