<div class="authentication">
  <div class="container">

    <div class="row">

      <div class="col-md-4 offset-4">

        <h1 class="form-signin-heading text-white">Welcome</h1>
        <p class="lead text-white">Not a member? Please <a routerLink="/signup" class="text-white font-weight-bold">sign up</a> instead.</p>
        <div class="card text-center">
          <div class="card-header">
           Forgot your password
          </div>
          <div class="card-body">
            <form (submit)="forgotpassword()">
              <div class="form-group text-left">
                <label for="email">Email address</label>
                <input type="email" class="form-control" name="email" placeholder="Enter email" [(ngModel)]="credentials.email">
              </div>
              <button type="submit" class="btn btn-primary">Send me an email</button>
            </form>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
