<div class="authentication">
  <div class="container">

    <div class="row">

      <div class="col-lg-4 offset-lg-4 col-md-6 offset-3">

        <h1 class="form-signin-heading text-white">Welcome</h1>
        <p class="lead text-white">Already a member? Please <a routerLink="/signin" class="text-white font-weight-bold">sign in</a>.</p>
        <div class="card text-center">
          <div class="card-header">
            Sign up
          </div>
          <div class="card-body">
            <form (submit)="signup()" [formGroup]="credentialsForm">
              <div class="form-group text-left">
                <label for="name">Full name</label>
                <input formControlName="name" type="text" class="form-control" name="name" placeholder="Enter your name" [ngClass]="{ 'is-invalid': submitted && credentialsForm.controls.name.errors }">
                <div *ngIf="submitted && credentialsForm.controls.name.errors" class="invalid-feedback">
                  <div *ngIf="credentialsForm.controls.name.errors.required">Name is required</div>
                </div>
              </div>
              <div class="form-group text-left">
                <label for="email">Email address</label>
                <input formControlName="email" type="email" class="form-control" name="email" placeholder="Enter email" [ngClass]="{ 'is-invalid': submitted && credentialsForm.controls.email.errors }">
                <div *ngIf="submitted && credentialsForm.controls.email.errors" class="invalid-feedback">
                  <div *ngIf="credentialsForm.controls.email.errors.required">Email is required</div>
                  <div *ngIf="credentialsForm.controls.email.errors.email">Email must be a valid email address</div>
                </div>
              </div>
              <div class="form-group text-left">
                <label for="password">Password</label>
                <input formControlName="password" type="password" class="form-control" name="password" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && credentialsForm.controls.password.errors }">
                <div *ngIf="submitted && credentialsForm.controls.password.errors" class="invalid-feedback">
                  <div *ngIf="credentialsForm.controls.password.errors.required">Password is required</div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Sign up</button>
            </form>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
