<div class="image-wrapper" (click)="open(content)">
  <div class="image-overlay">
    <div class="favorite" [ngClass]="{ 'active': data.favorite }" (click)="markFavorite($event)">
      <fa-icon [icon]="data.favorite ? faHeartSolid : faHeartOutline"></fa-icon>
    </div>
  </div>
  <img class="image" [src]="data.url">
</div>

<ng-template #content let-modal>
  <div class="modal-image">
    <div class="favorite" [ngClass]="{ 'active': data.favorite }" (click)="markFavorite($event)">
      <fa-icon [icon]="data.favorite ? faHeartSolid : faHeartOutline"></fa-icon>
    </div>
    <fa-icon class="delete" [icon]="faTrash" (click)="delete()"></fa-icon>
    <img class="image" [src]="data.url">
  </div>
  <div class="modal-body">
    <p class="photo-date text-muted" *ngIf="data.date">Uploaded on {{ data.date | date}}</p>
    <p class="photo-tags text-primary">{{data.tags}}</p>
    <p class="photo-description">{{data.description}} <span class="text-muted" *ngIf="data.location">in {{data.location}}</span></p>

    <form>
      <div class="form-group text-left">
        <label for="comment"><strong>Comments</strong></label>
        <div class="comment-box">
          <textarea type="text" class="form-control" name="comment" placeholder="Say something about this photo.." [(ngModel)]="commentDraft"></textarea>
          <fa-icon [icon]="faPaperPlane" (click)="addComment()"></fa-icon>
        </div>

        <div class="comment card" *ngFor="let comment of data.comments">
          <div class="card-body">{{comment}}</div>
        </div>
      </div>
    </form>
  </div>
</ng-template>
