<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Image Upload</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="url" class="row">
      <div class="col-md-8">
        <img class="img-fluid" [src]="url">
      </div>
      <div class="col-md-4">
        <form>
          <div class="form-group text-left">
            <label for="description">Description</label>
            <textarea type="text" class="form-control" name="description" placeholder="Write something about this photo" [(ngModel)]="info.description"></textarea>
          </div>
          <div class="form-group text-left">
            <label for="location">Location</label>
            <input type="text" class="form-control" name="location" placeholder="Enter location" [(ngModel)]="info.location">
          </div>
          <div class="form-group text-left">
            <label for="date">Date</label>
            <input type="date" class="form-control" name="date" placeholder="Date" [(ngModel)]="info.date">
          </div>
          <div class="form-group text-left">
            <label for="tags">Tags</label>
            <input type="text" class="form-control" name="tags" placeholder="#landscape #portrait" [(ngModel)]="info.tags">
          </div>
        </form>
      </div>
    </div>
    <form *ngIf="!url" method="post" enctype="multipart/form-data">
      <input type='file' (change)="onSelectedImage($event)" name='image' />
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" [disabled]="!url || uploading" (click)="onUpload($event)">{{ uploading ? 'Uploading' : 'Save' }}</button>
  </div>
</ng-template>

<button class="btn btn-lg btn-primary" (click)="open(content)">Upload</button>

