.image {
  width: 100%;
}

.image-wrapper {
  width: 100%;

  .favorite {
    opacity: 0;
  }

  &:hover .favorite {
    opacity: 1;
  }
}

.image-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 0 solid white;
  transition: border 0.3s ease;
  &:hover{
    border: 15px solid white;
    cursor: pointer;
  }
}

.modal-image {
  position: relative;
  display: block;
}

.favorite, .delete {
  position: absolute;
  font-size: 24px;
  display: block;
  cursor: pointer;
  color: white;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 1;
  &:hover {
    transform: scale(1.2);
  }
}

.favorite {
  top: 10px;
  left: 10px;

  &.active {
    color: #ff274c;
  }
}

.delete {
  right: 10px;
  bottom: 10px;
}

.comment-box {
  position: relative;
  .ng-fa-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 24px;
    color: #9d4d8a;
    cursor: pointer;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 3px;
    transition: background 0.3s ease;

    &:hover {
      background: whitesmoke;
    }
  }

  .form-control {
    padding-right: 60px;
  }
}

.comment {
   margin-top: 10px;

  .card-body {
    padding: 10px;
  }
}
