<nav class="navbar navbar-expand-md navbar-light bg-white fixed-top">
  <a class="navbar-brand" routerLink="/dashboard">
    <img class="logo" src="../assets/logo.png">
    Photo Manager
  </a>
  <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div *ngIf="user" [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
    <form class="form-inline my-2 my-lg-0 ml-auto mr-auto">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="id01" *ngIf="user.name" ngbDropdownToggle>{{user.name}}</a>
        <div class="dropdown-menu dropdown-menu-right" x-placement="right" aria-labelledby="id01" ngbDropdownMenu>
          <a class="dropdown-item" >My profile</a>
          <a class="dropdown-item" (click)="signout()">Sign out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
