.navbar {
  border-bottom: 2px solid whitesmoke;

  .form-control {
    width: 400px;

    @media screen and (max-width: 1200px) {
      width: 300px;
    }

    @media screen and (max-width: 960px) {
      width: 250px;
    }
  }
}

.dropdown-menu-right {
  left: auto !important;
  right: 0 !important;

  .dropdown-item {
    cursor: pointer;
  }
}

.logo{
  height: 40px;
  margin-right: 8px;
}


