/* You can add global styles to this file, and also import other style files */

$primary: #9d4d8a;
$secondary: #dc6b31;

@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap';

.authentication {
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: auto;
  display: block;
  background: url(./assets/joanna-kosinska-290213-unsplash.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .container{
    padding-top: 90px;
    padding-bottom: 20px;
  }
  .card{
    box-shadow: 0 0 30px rgba(0,0,0,0.75);
  }
}
